.app-footer {
  grid-area: app-footer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-primary);

  /* Left area */
  & .track-info {
    display: flex;
    align-items: center;
    min-width: 180px;
    width: 30%;
    padding-inline-start: 8px;
    gap: 8px;

    > .track-cover {
      border-radius: 4px;
      width: 56px;
      height: 56px;
      overflow: hidden;
      background-color: var(--color-secondary);

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > .mini-track {
      display: flex;
      flex-direction: column;
      margin: 0 8px;
      font-family: Circular-thin;

      > .title {
        font-size: 0.875rem;
      }
      > .artist {
        font-size: 0.75rem;
        color: var(--color-text-secondary);
      }
    }

    & button {
      background: none;
      padding: 8px;

      &:hover {
        & svg {
          fill: var(--color-white-fff);
        }
      }

      & svg {
        width: 16px;
        height: 16px;
        fill: var(--color-text-secondary);
      }
    }
  }
  /* Center area */
  & .player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    > .player-btns {
      display: flex;
      align-items: center;
      justify-content: center;

      & button {
        background: none;
        padding: 8px;

        &:hover {
          & svg {
            fill: var(--color-white-fff);
          }
        }

        & svg {
          width: 16px;
          height: 16px;
          fill: var(--color-text-secondary);
        }
      }
    }
  }
}
/* 
.app-footer button {
    background-color: transparent;
}

.player-left {
    display: flex;
    align-items: center;
    padding-inline-start: 8px;
    min-width: 0;

    > .cover {
        width: 56px;
        height: 56px;
        background-color: red;
        margin-inline-end: 8px;
        overflow: hidden;
        border-radius: 4px;
        flex: 0 0 56px;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .mini-track .artist {
        color: var(--color-text-secondary);
    }

    > .btn-like {
        gap: 12px;
        margin: 0 8px;
    }
}



.player-center {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: stretch;

    > .transport {
        display: flex;
        justify-self: center;
    }

    > .track-timeline {
        display: flex;
        justify-self: center;
        
        gap: 8px;

    }
}


.player-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline-end: 8px;
    gap: 16px;

    .volume {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #fff;

        input[type="range"] {
            width: 100px;
            background-color: white;
        }
    }
 */
/* } */
