.app-footer {
    grid-area: app-footer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    justify-content: space-between;
    
    background-color: var(--color-primary);

    height: 72px;
}

.player-left {
    display: flex;
    padding-inline-start: 8px;
}

.player-left .cover {
    width: 56px;
    height: 56px;
    background-color: red;
}

.player-center {
    display: grid;
    grid-template-rows: auto auto;
}

.player-center .transport {
    display: flex;
}