.app-header {
 
  grid-area: app-header;
  display: grid;
  /* width: 100vw; */
  grid-template-columns: auto 1fr auto;
  place-items: center;
  background-color: var(--color-primary);

  /* margin: -8px; */
  height: var(--AppHeaderHeight);
  /* Search bar styles */
  .search-bar {
    align-self: center;
     height: 48px;
    display: flex;
    place-items: center;
 
  }

  .logo{
    height: 48px;
    width: 48px;

  }

  /* User info styles */
  .user-info {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    margin-inline-start: auto;
    color: var(--clr1);

    & img {
      width: 32px;
      height: 32px;
      aspect-ratio: 1;
      border-radius: 9999px;
    }
  }

  .login-link,
  .signup-link {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: 700;
  }

  .user-profile {
    /* width: 200px; */
    height: 48px;
    display: flex;
    justify-items: center;
    font-size: 14px;
    align-items: center;
    gap: 8px;
 
> * {
  flex-shrink: 0;
}
    & .login-link {
      display: flex;
      align-items: center;
      justify-items: center;
   
      height: 48px;
      font-size: 16px;
      background-color: var(--color-white-fff);
      color: var(--color-primary);
      border-radius: 9999px;
      padding: 8px 32px;
    }

    & .signup-link {
      padding: 4px 16px 4px 8px;
    }

    & .login-link:hover {
      transform: scale(1.04);
      transition-duration: 50ms;
      vertical-align: middle;
    }

   

    & .signup-link:hover {
      color: var(--color-white-hover);
      transform: scale(1.04);
      transition-duration: 50ms;
      vertical-align: middle;
    }

    & button{
      margin: 0;
      padding: 8px;
      
    }
  }

  /* Browse icon styles */
  .browse-btn {
    /* position: absolute;
    top: 50%;
    right: 12px;
    display: flex;
    transform: translateY(-50%);
    color: var(--color-text-secondary); */

    /* &:hover {
      transition: 0.15s;
      cursor: pointer;
      color: var(--color-white-hover);
    } */

    /* &::before {
      content: '';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      width: 0.1px;
      height: 24px;
      background: rgba(255, 255, 255, 0.308);
    } */

    /* &:hover {
      &::before {
        color: var(--color-white-hover);
        cursor: default;
      }
    } */
  }
}

.search-bar {
  gap: 8px;
  height: 100%;
  & svg {
    height: 24px;
    width: 24x;
    fill: var(--color-text-secondary);
  }

  & button {
   margin: 0;
  }

  & svg:hover {
    fill: var(--color-white-hover);
  }
  & button:hover {
    background-color: var(--color-hover);
  }

}

.home-btn-container{
 
  display: flex;
  justify-content: center;
 
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.home-bold-svg svg,
.browse-btn-bold svg{

  display: flex;
  
     fill: white;    
}
.search-wrapper {
  position: relative;
  width: 474px;
  height: 48px;
}

.search-wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  background-color: #1f1f1f;
  border: none;
  outline: none;
  padding: 12px 48px 12px 48px; 
  color: var(--color-text-secondary);
  font-size: 16px;
  font-family: 'Circular-thin', 'Arimo';

  &::placeholder{
    color: var(--color-text-secondary);
  }

  &:focus {
    background-color: var(--color-hover);
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    cursor: unset
    
  }
      
  

}

.search-wrapper .browse {


  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
      &::before {
      content: '';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      width: 0.1px;
      height: 24px;
      background: rgba(255, 255, 255, 0.308);
    }

     &:hover {
      &::before {
        color: var(--color-white-hover);
        cursor: default; 
        
    
      }
    }
}



.browse-btn svg {
  width: 24px;
  height: 24px;
  fill: var(--color-text-secondary);
  display: flex;

     &:hover {
      transition: 0.3s;
      cursor: pointer;
      color: var(--color-white-hover);
      scale: 1.05;
    }
}


.glass-svg{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-btn-bold svg{
  fill: #fff;

}