.app-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;

  background-color: var(--color-primary);
  padding: 8px;

  .search-bar {
    display: flex;
    place-items: center;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-inline-start: auto;

    color: var(--clr1);

    & img {
      
      width: 2em;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
}

.home-svg{
    color: var(--color-text-primary);
}

.browse{
  position: absolute;
  top:50%;
  right: 12px;
  display: flex;
  transform: translateY(-50%);
  color: var(--color-text-secondary);
   &:hover {
    cursor: pointer;
   color: var(--color-white-hover);
    }
}

.browse::before{
  content: '|';
 position: absolute;
 left: -12px;
}

.browse:hover::before{
  color: var(--color-text-secondary);
}

