.home {
  grid-area: station-index;
  background-color: var(--color-secondary);
  border-radius: 8px;
  padding: 0 40px;
  overflow-y: auto;

  .artists-container {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;

    > .artist-item {
      flex-shrink: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: background-color 0.3s ease;
      cursor: pointer;
      padding: 12px;
      border-radius: 6px;

      .artist-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
       &:hover {
        background-color: var(--color-secondary-1);
        .play-container
         {
          opacity: 1;
        }
      }
      }

      .play-container svg,
      .pause-container svg {
        width: 20px;
        height: 20px;
        fill: black;
      }

     

      .artist-img-container img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      > .mini-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 8px;

        > h3 {
          font-size: 1rem;
          margin: 0;
        }
        > span {
          font-size: 0.875rem;
          font-family: Circular-thin;
          color: var(--gray2);
        }
      }
      
    }
  }


.stations-type {
  display: flex;
  align-items: center;
  height: 64px;
  & > * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border-radius: 9999px;
    color: #fff;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    display: inline-flex;
    min-inline-size: 0px;
    min-block-size: 32px;
    -webkit-box-align: center;
    align-items: center;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: #ffffff1a;
    height: 32px;
    flex-shrink: 0;
  }
}

.user-stations {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));

  gap: 8px;

  list-style: none;
  padding: 0;
  margin: 0;

  & > * {
    flex: 0 0 auto; /* לא מתכווץ ולא גדל אוטומטית */
    white-space: nowrap; /* מונע ירידת שורה */
  }
}

.user-station {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  gap: 8px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  display: inline-flex;

  -webkit-box-align: center;
  align-items: center;

  background-color: #ffffff1a;
  img {
    height: 100%;
    object-fit: cover;
  }

  span {
    display: flex;
    /* width: 48px; */
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-secondary-2); */
  }

  .music-note-svg {
    height: 24px;
    width: 24px;
    fill: var(--color-text-secondary);
  }

  &:hover {
    cursor: pointer;
  }

  .user-station:nth-child(2) {
    color: red;
  }

  .play-container {
    opacity: 0;
    background-color: var(--green-play);
    border-radius: 50%;
    z-index: 10;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    align-items: flex-start;
  }
}

.playHomePage {
  width: 16px;
  height: 16px;
}

.playHomePage path {
  fill: black;
}

.img-title-station {
  gap: 5px;
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;

  .station-img-placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 48px;
  }
}

.user-station:hover {
  .play-container {
    opacity: 1;
    margin-right: 8px;
  }
}

.play-container:hover {
  transition: scale 0.3s;
  scale: 1.05;
}

@media (max-width: 1360px) {
  .user-stations {
    /* background-color: red; */
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}
