.home {
  display: grid;
  grid-area: station-index;
  background-color: var(--color-secondary);
  border-radius: 8px;
  
  /* padding: 0 30px; */
  /* height: calc(100vh - 150px); */
  overflow-y: auto;
  grid-auto-rows: min-content;

  .albums-container {
    padding-left: 28px;
    padding-right: 28px;

    .album-item {
      grid-template-rows: auto;
    }
  }

  .artists-container {
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;

    > .artist-item {
      flex-shrink: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: background-color 0.3s ease;
      cursor: pointer;
      padding: 12px;
      border-radius: 6px;

      .artist-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        background-color: var(--color-secondary-1);
        .play-container {
          opacity: 1;
        }
      }
      > .mini-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 8px;

        > h3 {
          font-size: 1rem;
          margin: 0;
        }
        > span {
          font-size: 0.875rem;
          font-family: Circular-thin;
          color: var(--gray2);
        }
      }
    }

    .play-container svg,
    .pause-container svg {
      width: 20px;
      height: 20px;
      fill: black;
    }

    .artist-img-container img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }

   &::-webkit-scrollbar {
      --wbkit-appearance: none;
      appearance: none;
    }

    &:hover{
    &::-webkit-scrollbar-thumb {
      width: 15px;
      background-color: hsla(0, 0%, 100%, 0.3);
      transition: background-color 1s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: hsla(0, 0%, 100%, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: hsla(0, 0%, 100%, 0.6);
    }}



}

.stations-type {
  position: relative;
  /* padding-left: 12px;
  padding-right: 12px; */
  padding: 0 40px;
  display: flex;
  align-items: center;
  height: 64px;
  gap: 8px;
  & > * {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border-radius: 9999px;
    color: #fff;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    display: inline-flex;
    min-inline-size: 0px;
    min-block-size: 32px;
    -webkit-box-align: center;
    align-items: center;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: #ffffff1a;
    height: 32px;
    flex-shrink: 0;
  }

  & > :first-child {
    background-color: white;
    color: #000000;
  }
}

.user-stations {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  padding-left: 12px;
  padding-right: 12px;
  padding: 0 40px;
  gap: 12px;

  list-style: none;

  margin: 0;

  & > * {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

.user-station {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  gap: 8px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  display: inline-flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;

  background-color: #ffffff1a;
  img {
    height: 100%;
    object-fit: cover;
    width: 64px;
    border-radius: 4px;
  }

  span {
    display: flex;
    /* width: 48px; */
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-secondary-2); */
  }

  .music-note-svg {
    height: 24px;
    width: 24px;
    fill: var(--color-text-secondary);
  }

  &:hover {
    cursor: pointer;
    background: hsla(0, 0%, 100%, 0.2);
  }

  .user-station:nth-child(2) {
    color: red;
  }

  .pause-container {
    opacity: 1;
    background-color: var(--background-highlight);
    border-radius: 50%;
    z-index: 10;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    &:hover {
      background-color: var(--background-highlight);
      touch-action: manipulation;
      transform: scale(1.04);
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    }
    .pause {
      width: 20px;
      height: 20px;
    }

    .pause path {
      fill: black;
    }
  }

  .play-container {
    opacity: 0;
    background-color: var(--green-play);
    border-radius: 50%;
    z-index: 10;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    /* align-items: flex-start; */
    &:hover {
      background-color: var(--background-highlight);
      touch-action: manipulation;
      transform: scale(1.04);
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    }
  }
  .playHomePage {
    width: 24px;
    height: 24px;
  }

  .playHomePage path {
    fill: black;
  }
  .equalizer-svg{
    margin-right: 8px;
  }
}

.img-title-station {
  gap: 5px;
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;

  img,
  .station-img-placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 64px;
  }
}

.user-station:hover {
  .play-container {
    opacity: 1;
    margin-right: 8px;
  }
}

/* .play-container:hover {
  transition: scale 0.3s;
  scale: 1.05;
} */

@media (max-width: 1360px) {
  .user-stations {
    /* background-color: red; */
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
  .user-stations {
    gap: 8px;
  }
  .albums-container {
    grid-template-columns: repeat(auto-fit, 190px);
  }

  .user-station {
    height: 48px;
    img,
    .station-img-placeholder {
      height: 100%;
      object-fit: cover;
      width: 48px;
      border-radius: 4px;
    }
    .play-container {
      width: 32px;
      height: 32px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .pause-container {
      width: 32px;
      height: 32px;

      .pause {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.new-albums-header,
.new-artists-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  padding-left: 40px;
  position: relative;
}

.main-container.sidebar-open {
  .user-stations {
    gap: 8px;
  }
  .albums-container {
    grid-template-columns: repeat(auto-fit, 190px);
  }

  .user-station {
    height: 48px;
    img,
    .station-img-placeholder {
      height: 100%;
      object-fit: cover;
      width: 48px;
      border-radius: 4px;
    }
  }
  .play-container,
  .pause-container {
    width: 32px;
    height: 32px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.user-stations-background {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(116, 95, 232);

  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), var(--background-noise);
  transition-timing-function: ease;
  position: absolute;
  height: 256px;
  transition-property: background;
  -webkit-transition-duration: 1s;
  opacity: 1;
}

.home-content {
  position: relative;
  border-radius: 8px
}
