.home {
  grid-area: station-index;
  background-color: var(--color-secondary);
  border-radius: 8px;
  padding: 0 40px;
}

.stations-type {
  display: flex;
  align-items: center;
  height: 64px;
  & > * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border-radius: 9999px;
    color: #fff;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    display: inline-flex;
    min-inline-size: 0px;
    min-block-size: 32px;
    -webkit-box-align: center;
    align-items: center;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: #ffffff1a;
    height: 32px;
    flex-shrink: 0;
  }
}

.user-stations {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 8px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.user-station {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  gap: 8px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  color: #fff;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  display: inline-flex;

  -webkit-box-align: center;
  align-items: center;

  background-color: #ffffff1a;
  img {
    height: 100%;
    object-fit: cover;
  }

  span {
    display: flex;
    width: 48px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-2);
  }

  .music-note-svg {
    height: 24px;
    width: 24px;
    fill: var(--color-text-secondary);

  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
  }
}

@media (max-width: 700px) {
  .user-stations {
    /* background-color: red; */
    grid-template-columns: repeat(2, minmax(164px, 1fr));
  }
}
