.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary-1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 90%;
  max-width: 524px;
  min-height: 384px;
  max-height: 80vh;
  z-index: 1001;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    & h1 {
      margin: 0;
      font-size: 24px;
    }

    & .close-svg {
      display: flex;
      align-items: center;
      width: 16px;
      height: 16px;
      fill: var(--color-text-secondary);
      background: none;
    }
  }

  & .edit-station-form {
    display: grid;
    grid-template: 32px 132px 32px auto/180px 1fr;
    grid-template-areas:
      'station-img title'
      'station-img description'
      '. save-button'
      'disclaimer disclaimer';
    grid-gap: 16px;
    padding: 0 24px 24px;

    > .station-img {
      grid-area: station-img;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 4px;
      background-color: var(--color-secondary-2);

      .dots-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        top: 10px;
        right: 10px;
        cursor: auto;
        z-index: 1004;
        background-color: var(--color-secondary);

        &:hover {
          .dots-svg {
            fill: var(--color-white-fff);
          }
        }

        & .dots-svg {
          display: flex;
          align-items: center;
          justify-content: center;
          fill: var(--color-text-secondary);
          width: 16px;
          height: 16px;
        }
      }

      & .modal-svg {
        position: absolute;
        fill: var(--color-text-secondary);
        height: 48px;
        width: 48px;

        > svg {
          width: 100%;
          height: 100%;
        }
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
        z-index: 1003;

        &:hover {
          opacity: 0.1;
        }
      }

      &:hover {
        .modal-svg {
          > svg {
            fill: var(--color-white-fff);
          }
        }
      }

      &:hover::after {
        position: absolute;
        content: 'Choose photo';
        font-family: Circular-thin;
        font-size: 0.8em;
        right: 30%;
        top: 66%;
        color: var(--color-white-fff);
      }
    }

    > .title {
      grid-area: title;
      border-radius: 4px;
      background-color: var(--color-secondary-3);
      font-family: Circular-thin;
      font-size: 14px;
      padding: 0 0 0 12px;
    }

    > .description {
      grid-area: description;
      border-radius: 4px;
      background-color: var(--color-secondary-3);
      font-family: Circular-thin;
      font-size: 14px;
      padding: 8px 8px 28px;
      resize: none;
    }

    > .save-button {
      grid-area: save-button;
      justify-self: end;
      align-self: center;
      border-radius: 9999px;
      padding: 8px 32px 8px 32px;
      background-color: var(--color-white-fff);
      color: var(--color-primary);
      min-block-size: 48px;
      cursor: pointer;
      font-size: in;

      &:hover {
        background-color: var(--color-white-hover);
        padding: 17px 33px 17px 33px;
      }
    }

    > .disclaimer {
      font-family: Circular-thin;
      grid-area: disclaimer;
      border-radius: 4px;
      font-size: 12px;
      line-height: 16px;
    }

    & .action-menu {
      position: absolute;
      top: 32%;
      left: 35%;
      z-index: 1005;
      height: fit-content;
      width: fit-content;

      > button {
        font-family: Circular-thin;
        font-size: 0.8rem;
      }
    }
  }
}

.station-details {
  > .modal-content {
    > .edit-station-form {
      & .dots-btn {
        top: 2px;
        right: 2px;
      }

      > .action-menu {
        background-color: var(--color-secondary-2);
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 4px;
        cursor: auto;
        position: absolute;
        top: 120px;

        > .action-btn {
          display: flex;
          gap: 12px;
          border-radius: 4px;
          cursor: auto;
          margin: 0;
          padding: 8px 16px;

          &:hover {
            transform: scale(1);
            background-color: var(--color-hover-lighter);
          }
          > span {
            display: flex;
            align-items: center;
            > svg {
              width: 16px;
              height: 16px;
              fill: var(--color-text-secondary);
            }
          }
        }
      }
    }
  }
}
