.station-search {
  border-radius: 8px;
    overflow-x: hidden;
  overflow-y: auto;


      &::-webkit-scrollbar {
      --wbkit-appearance: none;
      appearance: none;
    }

    &:hover{
    &::-webkit-scrollbar-thumb {
      width: 15px;
      background-color: hsla(0, 0%, 100%, 0.3);
      transition: background-color 1s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: hsla(0, 0%, 100%, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: hsla(0, 0%, 100%, 0.6);
    }}

  

  & .search-results {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0 clamp(16px, 16px + (100cqw - 600px)/424 * 8, 24px);
    > .results-container {
      grid-column: 1/-1;
      margin-top: 24px;
      display: grid;
      grid-template-rows: min-content;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 32px 12px;

      > .top-result {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;

        > h2 {
          margin-bottom: 8px;
          min-block-size: 40px;
          min-height: 48px;
          padding-block: 0;
        }

        > .top-result-item {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: var(--color-secondary-1);
          gap: 20px;
          border-radius: 8px;
          padding: 20px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--color-secondary-2);
            > .btn-container > button {
              opacity: 1;
              transform: translateY(0);
            }
          }

          > img {
            border-radius: 50%;
            width: 92px;
            height: 92px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
          }

          > .mini-info {
            display: flex;
            flex-direction: column;
            gap: 6px;

            > h2 {
              font-size: 2rem;
              margin: 0;
              &:hover {
                text-decoration: underline;
              }
            }
            > span {
              font-size: 0.875rem;
              font-family: Circular-thin;
              color: var(--gray2);
            }
          }

          > .btn-container {
            position: absolute;
            bottom: 12px;
            right: 12px;

            > button {
              opacity: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--green-pin);
              padding: 14px;
              box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
              transform: translateY(8px);
              transition: opacity 0.3s ease, transform 0.3s ease;

              &:hover {
                background-color: var(--green-play);
              }

              > .play,
              .pause {
                display: flex;
                align-items: center;
                justify-content: center;

                > svg {
                  width: 20px;
                  height: 20px;
                  fill: black;
                }
              }
            }
          }
        }
      }

      > .songs-result {
        grid-column: 3/-1;

        & .track-header {
          display: none;
        }

        & .track-album {
          display: none;
        }

        > .songs-list {
          padding: 12px;

          & .track-list {
            grid-template-rows: auto;
          }
        }
      }

      > .artist-result {
        grid-column: 1/-1;

        > .artists-container {
          display: flex;
          gap: 16px;
          overflow-x: auto;
          padding-bottom: 8px;

          > .artist-item {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s ease;
            cursor: pointer;
            padding: 12px;
            border-radius: 6px;

            &:hover {
              background-color: var(--color-secondary-1);
              > .btn-container > button {
                opacity: 1;
                transform: translateY(0);
              }
            }

            > img {
              border-radius: 50%;
              width: 150px;
              height: 150px;
            }

            > .mini-info {
              display: flex;
              flex-direction: column;
              gap: 4px;
              margin-top: 8px;

              > h3 {
                font-size: 1rem;
                margin: 0;
              }
              > span {
                font-size: 0.875rem;
                font-family: Circular-thin;
                color: var(--gray2);
              }
            }

            > .btn-container {
              position: absolute;
              bottom: 50px;
              right: 12px;

              > button {
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--green-pin);
                padding: 14px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
                transform: translateY(8px);
                transition: opacity 0.3s ease, transform 0.3s ease;

                &:hover {
                  background-color: var(--green-play);
                }

                > .play,
                .pause {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  > svg {
                    width: 20px;
                    height: 20px;
                    fill: black;
                  }
                }
              }
            }
          }
        }
      }

      > .album-result {
        grid-column: 1/-1;

        > .albums-container {
          
          display: flex;
          gap: 16px;
          overflow-x: auto;
          padding-bottom: 8px;

          > .album-item {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s ease;
            cursor: pointer;
            padding: 12px;
            border-radius: 6px;
            

            &:hover {
              background-color: var(--color-secondary-1);
              > .btn-container > button {
                opacity: 1;
                transform: translateY(0);
              }
            }

            > img {
              border-radius: 6px;
              width: 170px;
              height: 170px;
            }

            > .mini-info {
              display: flex;
              flex-direction: column;
              gap: 4px;
              margin-top: 8px;

              > h3 {
                font-size: 1rem;
                margin: 0;
              }
              > span {
                font-size: 0.875rem;
                font-family: Circular-thin;
                color: var(--gray2);
              }
            }

            > .btn-container {
              position: absolute;
              bottom: 12px;
              right: 12px;

              > button {
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--green-pin);
                padding: 14px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
                transform: translateY(8px);
                transition: opacity 0.3s ease, transform 0.3s ease;

                &:hover {
                  background-color: var(--green-play);
                }

                > .play,
                .pause {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  > svg {
                    width: 20px;
                    height: 20px;
                    fill: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
