@font-face {
    font-family: Circular;
    src: url(../../fonts/Circular/CircularStd-Bold.otf);
}

@font-face {
    font-family: Circular-thini  ;
    src: url(../../fonts/Circular/CircularStd-Light.otf);
}

@font-face {
    font-family: Circular-medium;
    src: url(../../fonts/Circular/CircularStd-Medium.otf);
}



@font-face {
    font-family: Circular-btn;
    src: url(../../fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
    font-family: Circular-thin;
    src: url(../../fonts/Circular/CircularSp-Book.woff2);
}

@font-face {
    font-family: Arimo;
    src: url(../../fonts/Arimo/Arimo-Regular.ttf);
}

@font-face {
    font-family: Arimo-light;
    src: url(../../fonts/Arimo/Arimo-Regular.ttf);
    font-weight: 100;
}