@font-face {
    font-family: Circular;
    src: url(../../fonts/Circular/CircularStd-Bold.otf);
}

@font-face {
    font-family: Circular-btn;
    src: url(../../fonts/Circular/CircularStd-Medium.otf);
}
