.station-preview {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;

  gap: 12px;
  color: var(--gray2);
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;

  > .station-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    font-family: Circular-thin;

    > .station-title {
      color: var(--color-text-primary);
    }

    > .station-mini-data {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;

      > .station-type-owner {
         > .station-type {
          text-transform: capitalize;
        }
        > .station-type + span:before {
          content: '•';
          margin: 0 2px;
          color: var(--gray2);
        }
      }
    }
  }

  & .pin-svg {
    fill: var(--green-pin);
    height: 11px;
    width: 11px;
  }

  &:hover {
    /* bgc when only hover */
    background-color: var(--color-hover-darker);

    &.clicked {
      /* bgc when clicked and hover */
      background-color: var(--color-hover-lighter);
    }

    & .play{
      fill: var(--color-white-fff);
    }
  }

  &.clicked {
    /* bgc when clicked */
    background-color: var(--color-hover);
  }

  & .station-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
  }

  & .station-img {
    height: 48px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
  }

  & .play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  &:hover .play-overlay {
    opacity: 1;
    border-radius: 4px;
  }

  & .play-btn {
    background: transparent;
    fill: var(--color-white-fff);
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  & .station-img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-secondary-2);
    border-radius: 4px;
  }
  & .music-note-svg {
    fill: var(--color-text-secondary);
    height: 24px;
    width: 24px;
    margin-top: 4px;
  }
}
