.youtube-video {
  display: none;
}

.station-filter{
  grid-area: station-index;
  background-color: var(--color-secondary);
}

.track-list {
  display: grid;
   grid-template-rows: 35px;
  grid-auto-rows: 55px;
  gap: 8px;



}

.track-header,
.track-row {
  display: grid;
  grid-template-columns: 40px minmax(430px,1.5fr) minmax(285px,1fr) 80px;
  grid-template-rows: 100%;
  align-items: center;
  padding: 8px 16px;
  
}



.first-col-header{
  justify-self: center;
  
}

.track-num{
  justify-self: center;
  color: var(--songs-table-color);
}
.track-text{

  .track-artists{
    color: var(--songs-table-color);
    font-family: Circular-thin;;
  }

}

.duration-header-icon
,.track-duration{
  justify-self: center;
}

.track-header {
     font-family: 'Circular-thin';
    
    color: var(--songs-table-color);
  
    border-bottom: 1px solid #282828;
}

.track-row {
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.2s;

  .track-album,.track-duration{
  color: var(--songs-table-color);
    font-family: Circular-thin;;
  }

  .play{
    fill: #fff;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
    &:hover {
    .track-artists{
    color: #fff;
  }
  .track-album{
    color: #fff;
  }
  .pause{
     fill: #fff;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  }
}

.track-row:hover {
  background-color: #1f1f1f;
}

.track-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
}

.track-title{
  display: flex;
 
}

.track-duration{
  display: flex;
}

.duration-svg{
  fill: var(--songs-table-color);
  width: 16px;
  height: 16px;
}

.playing-track {
  position: relative;

  .equalizer,
  .pause {
    transition: opacity 0.2s ease;
  }

  .pause {
    opacity: 0;
    position: absolute;
    inset: 0;
  }

  &:hover {
    .equalizer {
      opacity: 0;
    }
    .pause {
      opacity: 1;
    }
  }
}