.station-list-container {

    display: flex;
    flex-direction: column;
    max-width: 420px;
    
    background-color: var(--color-secondary);

    /* & li {
        display: grid;
        grid-template-columns: max-content auto;
        padding: .5em;
        background-color: var(--clr2);

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }  */
}

