.station-index {
  background-color: var(--color-secondary);
  padding: 8px;
  border-radius: 8px;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 0.3em;
  }

  & h2 {
    margin: 0;
    font-size: 1.3em;
  }

  & button {
    margin-inline-end: 0;
  }
}
