.station-preview {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  color: var(--gray2);
  cursor: pointer;
  border-radius: 6px;
  padding: 8px;

  &:hover {
    background-color: var(--color-hover-darker);
  
    .clicked{
      background-color: var(--color-hover);
    }
}

& .clicked{
    background-color: var(--color-hover);
}

  & .station-img {
    height: 48px;
  }
}
