.station-details {
  grid-area: station-index;
  color: var(--color-white-fff);
  border-radius: 8px;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;

  & .details-header {
    position: relative;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 24px;

    > .station-img {
      min-width: 128px;
      max-width: 232px;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      }
    }

    > .station-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin-left: 20px;
      width: 100%;

      & h1 {
        font-size: 3.5rem;
        margin: 0;
        white-space: nowrap;
      }

      & .creator-info {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        > img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          object-fit: cover;
        }

        > .creator-name {
          position: relative;
          margin-left: 2px;
        }
        > .creator-name + span:before {
          content: '•';
          margin: 0 4px;
          color: var(--color-text-secondary);
          font-family: Circular-thin;
        }
        > .tracks-count {
          color: var(--color-text-secondary);
        }
      }
    }
  }

  & .station-btns-container {
    position: relative;

    & .action-btns {
      position: relative;
      display: flex;
      align-items: center;
      padding: 20px;
      z-index: 1;

      & .play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--green-pin);
        padding: 22px;

        &:hover {
          background-color: var(--green-play);
        }

        > .play, .pause {
          display: flex;
          align-items: center;
          justify-content: center;

          > svg {
            width: 24px;
            height: 24px;
            fill: black;
          }
        }
      }
    }
  }

  & .track-list {
    padding: 0 24px;
  }

  & .search-tracks {
    padding: 0 24px;
    margin: 24px;
    padding-bottom: 80px;

    & .search-wrapper {
      width: 100%;
      svg {
        width: 20px;
        height: 20px;
        fill: var(--color-text-secondary);
        cursor: text;
      }

      > .search-tracks-input {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: hsla(0, 0%, 100%, 0.7);
        border-radius: 4px;
        width: 40%;

        &:focus {
          box-shadow: none;
        }
      }

      & .search-track-list {
        display: grid;
        align-items: center;
        grid-template-rows: 35px;
        grid-auto-rows: 55px;
        gap: 8px;
        padding-bottom: 80px;
        margin-top: 40px;

        & .search-track-row {
          display: grid;
          grid-template-columns: minmax(430px, 1.5fr) minmax(285px, 1fr) 220px;
          grid-template-rows: 100%;
          align-items: center;
          padding: 8px 16px;
          color: var(--songs-table-color);
          border-radius: 4px;
          transition: background-color 0.2s;

          &:hover {
            > * {
              color: var(--color-white-fff);
            }
          }

          & .search-track-title {
            display: flex;
            align-items: center;

            & .search-track-img {
              width: 40px;
              height: 40px;
              margin-right: 8px;
              border-radius: 4px;
            }

            & .search-track-name {
              color: var(--color-white-fff);
            }

            & .search-track-artists {
              font-family: Circular-thin;
            }
          }

          & .search-track-album {
            font-family: Circular-thin;
          }

          & .btn-container {
            display: flex;
            justify-content: flex-end;
            & .add-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border: 1px solid var(--color-text-secondary);
              border-radius: 9999px;
              width: fit-content;
              padding: 4px 16px;
              font-size: 1.1rem;
              color: var(--color-white-fff);
              margin: 0;

              &:hover {
                scale: 1.1;
                border-color: var(--color-white-fff);
              }
            }
          }
        }
      }
    }
  }


  & .track-row:hover,
  .search-track-row:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    & svg {
      fill: var(--color-white-fff);
    }
  }

  & span {
    display: flex;
    align-items: center;
  }

  & .svg-icon {
    > svg {
      width: 24px;
      height: 24px;
      fill: var(--color-text-secondary);
    }
  }
}
