.station-details {
  grid-area: station-index;
  color: var(--color-white-fff);
  border-radius: 8px;
  overflow-y: auto;
 background-color: var(--color-secondary);
  /* scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent; */


    &::-webkit-scrollbar {
      --webkit-appearance: none;
      appearance: none;
    }

    &:hover{
    &::-webkit-scrollbar-thumb {
      width: 15px;
      background-color: hsla(0, 0%, 100%, 0.3);
      transition: background-color 1s;
     
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: hsla(0, 0%, 100%, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: hsla(0, 0%, 100%, 0.6);
    }}

  & .details-header {
    height: 276px;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
      var(--background-noise);
    position: relative;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 24px;

    > .station-img {
      width: 100%;
      max-width: 232px;
      margin-right: 20px;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      }

      > span {
        width: 232px;
        height: 232px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-secondary-2);
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        margin-right: 60px;

        > svg {
          width: 74px;
          height: 74px;
          fill: #7f7f7f;
        }
      }
    }

    > .station-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;

      & h1 {
        font-size: 6rem;
        margin: 0;
        white-space: nowrap;
        cursor: pointer;
      }

      & .creator-info {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        > img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          object-fit: cover;
        }

        > .creator-name {
          position: relative;
          margin-left: 2px;
        }
        > .creator-name + span:before {
          content: '•';
          margin: 0 4px;
          color: var(--color-text-secondary);
          font-family: Circular-thin;
        }
        > .tracks-count {
          color: var(--color-text-secondary);
        }
      }
    }
  }

  & .station-btns-container {
    /* position: relative; */

    & .action-btns {
     
      position: relative;
      display: flex;
      align-items: center;
      padding: 20px;
      z-index: 1;

      & .play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--green-pin);
        padding: 22px;

        &:hover {
          background-color: var(--green-play);
        }

        > .play,
        .pause {
          display: flex;
          align-items: center;
          justify-content: center;

          > svg {
            width: 20px;
            height: 20px;
            fill: black;
          }
        }
      }

      & .shuffle-btn {
        position: relative;
        background: none;
        border-radius: 0;
        padding: 0;

        &:hover {
          & svg {
            fill: var(--color-white-fff);
          }
        }

        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 22px;
          width: fit-content;
          height: fit-content;

          & svg {
            width: 32px;
            height: 32px;
          }
        }

        &.active {
          & svg {
            fill: var(--green-play);
          }

          &::after {
            content: '';
            position: absolute;
            top: 75%;
            right: 50%;
            translate: 50%;
            width: 4px;
            height: 4px;
            background-color: var(--green-clicked);
            border-radius: 50%;
          }
        }
      }
    }
  }

  & .search-tracks {
    padding: 0 24px;
    margin: 24px;
    padding-bottom: 80px;
    padding-top: 30px;
    background-color: transparent;
    position: relative;

    & .search-wrapper {
      width: 100%;
      svg {
        width: 20px;
        height: 20px;
        fill: var(--color-text-secondary);
        cursor: text;
      }

      > .search-tracks-input {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: hsla(0, 0%, 100%, 0.7);
        border-radius: 4px;
        width: 40%;

        &:focus {
          box-shadow: none;
        }
      }

      & .search-track-list {
        display: grid;
        align-items: center;
        grid-template-rows: 35px;
        grid-auto-rows: 55px;
        gap: 8px;
        padding-bottom: 80px;
        margin-top: 40px;

        & .search-track-row {
          display: grid;
          grid-template-columns: minmax(430px, 1.5fr) minmax(285px, 1fr) 220px;
          grid-template-rows: 100%;
          align-items: center;
          padding: 8px 16px;
          color: var(--songs-table-color);
          border-radius: 4px;
          transition: background-color 0.2s;

          &:hover {
            > * {
              color: var(--color-white-fff);
            }
            & .search-track-artists {
              color: var(--songs-table-color);
            }
          }

          & .search-track-title {
            display: flex;
            align-items: center;

            & .search-track-img {
              width: 40px;
              height: 40px;
              margin-right: 8px;
              border-radius: 4px;
            }

            & .search-track-name {
              color: var(--color-white-fff);
            }

            & .search-track-artists {
              font-family: Circular-thin;
            }
          }

          & .search-track-album {
            font-family: Circular-thin;
          }

          & .btn-container {
            display: flex;
            justify-content: flex-end;
            & .add-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border: 1px solid var(--color-text-secondary);
              border-radius: 9999px;
              width: fit-content;
              padding: 4px 16px;
              color: var(--color-white-fff);
              margin: 0;
              transition: transform 0.2s, border-color 0.2s;

              &:hover {
                transform: scale(1.03);
                border-color: var(--color-white-fff);
              }
            }
          }
        }
      }
    }
  }

  .search-track-row:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    & svg {
      fill: var(--color-white-fff);
    }
  }

  & span {
    display: flex;
    align-items: center;
  }

  & .svg-icon {
    > svg {
      width: 24px;
      height: 24px;
      fill: var(--color-text-secondary);
    }
  }

  & .playing {
    color: var(--green-checked);
  }
    .station-btns-container {
  
      & .action-btns {
         padding-left: 32px;
          gap: 8px;
        & .play-btn  {
          display: flex;
          justify-content: center;
          height: 56px;
          width: 56px;
          margin: 0;

          svg {
            width: 20px;
            height: 20px;
          }
        }
         .shuffle-btn{
            height: 32x;
          width: 32px;
        > span {
          padding: 0;
        }
           }
      }
    }

    
}

.header-section {
  position: relative; /* מאפשר למקם את הרקע ביחס אליו */
}

.background-track-list {
  /* background-color:linear-gradient(to bottom,rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.5) 100%), var(--background-noise); */
  position: absolute;
  top: 100%; /* בדיוק מתחת ל-header */
  left: 0;
  width: 100%;
  height: 232px;

  z-index: 0;
}

/* שניהם מעל הרקע */
.details-header {
  position: relative;
  z-index: 1;
}

.track-list,
.search-tracks,
.search-wrapper {
  position: relative;
  z-index: 1;
}
