.station-list-container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 8px;
  border-radius: 8px;

  background-color: var(--color-secondary);

  & header {
    padding: 8px;
  }
  /* & li {
        display: grid;
        grid-template-columns: max-content auto;
        padding: .5em;
        background-color: var(--clr2);

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }  */
}
