.station-list-container {
  grid-area: station-list;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  border-radius: 8px;

  background-color: var(--color-secondary);

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 8px;
  }

  > .station-labels {
    display: flex;
    margin: 8px 16px;
    gap: 8px;
  }

  > .station-list-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;

    > .search-bar {
      display: flex;
      justify-content: space-between;
      padding: 2px 8px 0;
    }

    > .station-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  & .action-menu {
    z-index: 1000;
    width: 260px;
    background-color: var(--color-secondary-2);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px;
    cursor: auto;

    & .action-btn {
      display: flex;
      width: 100%;
      gap: 12px;
      border-radius: 4px;
      cursor: auto;

      &:hover {
        background-color: var(--color-hover-lighter);
      }

      > span {
        font-family: Circular-thin;
      }

      & .svg-action{
         display: flex;
        align-items: center;
        width: 16px;
        height: 16px;
        fill: var(--color-text-secondary);
        background: none;
      }

      & .pin-svg{
        fill: var(--green-pin);
      }
    }
  }

  & .spacer{
    background: hsla(0,0%,100%,.1);
    height: 1px;
    pointer-events: none;
    width: 100%;
  }

  & li {
    position: relative;
  }

  & h3 {
    margin: 0;
  }

  & button {
    border-radius: 9999px;
    padding: 8px 16px;
    margin: 0;
  }

  & button:hover {
    transform: scale(1); /* Prevent scaling on hover */
  }

  .create-btn:hover {
    .create-icon {
      fill: var(--color-text-primary);
    }
  }

  .create-icon {
    width: 16px;
    fill: var(--color-text-secondary);
    margin: 1px 6px 0 0;
  }
}
