.artist-details {
  grid-area: station-index;
  width: 100%;
  border-radius: 8px;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;

  > .artist-details-header {
    width: 100%;

    > .img-header-container {
      position: relative;
      height: 40vh;
      width: 100%;

      > img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      > .artist-details-info {
        position: absolute;
        bottom: 40px;
        left: 24px;
        display: flex;
        flex-direction: column;

        > .verified-artist {
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 0.875rem;
          color: hsla(0, 0%, 100%, 0.7);

          > .background {
            position: relative;
            display: flex;
            align-items: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
          }

          & svg {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            fill: #4cb3ff;
          }
        }

        > h1 {
          font-size: 5rem;
          overflow-wrap: break-word;
          margin-bottom: 10px;
        }

        > .followers {
          font-size: 1rem;
        }
      }
    }
  }

  > .action-btns {
    position: relative;
    display: flex;
    align-items: center;
    padding: clamp(16px, 16px + (100cqw - 600px)/424 * 8, 24px);
    z-index: 1;

    > .play-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--green-pin);
      padding: 22px;

      &:hover {
        background-color: var(--green-play);
      }

      > .play,
      .pause {
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    & .shuffle-btn {
      position: relative;
      background: none;
      border-radius: 0;
      padding: 0;

      &:hover {
        & svg {
          fill: var(--color-white-fff);
        }
      }

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px;
        width: fit-content;
        height: fit-content;

        & svg {
          width: 32px;
          height: 32px;
          fill: var(--color-text-secondary);
        }
      }

      &.active {
        & svg {
          fill: var(--green-play);
        }

        &::after {
          content: '';
          position: absolute;
          top: 75%;
          right: 50%;
          translate: 50%;
          width: 4px;
          height: 4px;
          background-color: var(--green-clicked);
          border-radius: 50%;
        }
      }
    }
  }

  > .top-tracks {
    padding: clamp(16px, 16px + (100cqw - 600px)/424 * 8, 24px);
  }

  > .top-tracks {
    > .track-list {
      > .track-row:hover {
        > .track-duration-container {
          > .add-to-playlist {
            opacity: 1;
          }
        }
      }
    }
  }
}
