.track-preview {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto 1fr auto;
  cursor: pointer;
  gap: 12px;
  min-block-size: 56px;
  border-radius: 6px;
  padding: 8px;

  & .track-img {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;

      > svg {
        fill: var(--color-white-fff);
        width: 20px;
        height: 20px;
      }
    }
  }

  &:hover {
    background-color: var(--color-hover-darker);
    & span {
      opacity: 1;
    }
  }

  & .track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    > .track-name {
      font-family: Circular-thin;
      font-size: 1rem;
      font-family: 'Circular-thin', 'Arimo';
    }

    > .artist-name {
      font-family: 'Circular-thin', 'Arimo';
      font-size: 0.875rem;
      color: var(--songs-table-color);
    }
  }
}

/* Style track name when parent div has playing class */
.playing .track-preview .track-info .track-name {
  color: var(--green-checked);
}
